.postmedia{
    height: 128px;
    width: 128px;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.left{
    float: left;
}

/*.change:hover{
    background-color: #404040 !important;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    font-size: 12px;
    background-color: #585858;
    text-align: center;
    width: 128px;
    height: 30px;
    margin-top: -30px !important;
    color: white;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}