.arrow2:hover {
    background: url("images/down2.png") no-repeat;
}
.arrow2 {
    background-size: contain;
    width: 30px;
    height: 15px;
    background: url("images/downS.png") no-repeat;
    display: inline-block;
}
.arrow1:hover {
    background: url("images/up2.png") no-repeat;
}
.arrow1 {
    background-size: contain;
    width: 30px;
    height: 15px;
    background: url("images/upS.png") no-repeat;
    display: inline-block;
}

textarea {
    width:90%;
    max-width:90%;
    max-height:30%;
    resize:vertical;
}
.width{
    width:90%;
    max-width:90%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hide{
        display: none;
    }
    .padd{
        position: relative;
        right: 15px;
    }
  }
body {
    overflow-x: hidden !important;
}
.postmedia{
    height: 32px;
    width: 32px;
    border-radius: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}